extends ../layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros_img" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis aspernatur repudiandae deserunt unde sit laudantium ratione officia, quasi officiis nulla non odio dignissimos quos culpa reprehenderit dolorem. Ipsa cupiditate quidem molestias culpa cumque dicta excepturi ducimus! Nobis, cupiditate repudiandae?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad autem ex dolorum delectus cumque similique enim ea magnam? Ab cumque laboriosam ratione rem blanditiis magni exercitationem! Atque facilis distinctio ea.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia quia aperiam perferendis laudantium distinctio et fuga ea molestias corrupti facilis!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet magnam aperiam? A at, iusto est cupiditate provident exercitationem optio.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet magnam aperiam? A at, iusto est cupiditate provident exercitationem optio.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet magnam aperiam? A at, iusto est cupiditate provident exercitationem optio.